# [5 Data transformation](https://r4ds.had.co.nz/transform.html)

In [1]:
library(nycflights13)
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.0     ✔ purrr   0.3.4
✔ tibble  3.0.1     ✔ dplyr   0.8.5
✔ tidyr   1.1.0     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
set.seed(0)

summary(flights)
sample_n(flights, 5)
?flights

      year          month             day           dep_time    sched_dep_time
 Min.   :2013   Min.   : 1.000   Min.   : 1.00   Min.   :   1   Min.   : 106
 1st Qu.:2013   1st Qu.: 4.000   1st Qu.: 8.00   1st Qu.: 907   1st Qu.: 906
 Median :2013   Median : 7.000   Median :16.00   Median :1401   Median :1359
 Mean   :2013   Mean   : 6.549   Mean   :15.71   Mean   :1349   Mean   :1344
 3rd Qu.:2013   3rd Qu.:10.000   3rd Qu.:23.00   3rd Qu.:1744   3rd Qu.:1729
 Max.   :2013   Max.   :12.000   Max.   :31.00   Max.   :2400   Max.   :2359
                                                 NA's   :8255
   dep_delay          arr_time    sched_arr_time   arr_delay
 Min.   : -43.00   Min.   :   1   Min.   :   1   Min.   : -86.000
 1st Qu.:  -5.00   1st Qu.:1104   1st Qu.:1124   1st Qu.: -17.000
 Median :  -2.00   Median :1535   Median :1556   Median :  -5.000
 Mean   :  12.64   Mean   :1502   Mean   :1536   Mean   :   6.895
 3rd Qu.:  11.00   3rd Qu.:1940   3rd Qu.:1945   3rd Qu.:  14.000
 Max.   :1301.00   Max.   :2400   Max.   :2359   Max.   :1272.000
 NA's   :8255      NA's   :8713                  NA's   :9430
   carrier              flight       tailnum             origin
 Length:336776      Min.   :   1   Length:336776      Length:336776
 Class :character   1st Qu.: 553   Class :character   Class :character
 Mode  :character   Median :1496   Mode  :character   Mode  :character
                    Mean   :1972
                    3rd Qu.:3465
                    Max.   :8500

     dest              air_time        distance         hour
 Length:336776      Min.   : 20.0   Min.   :  17   Min.   : 1.00
 Class :character   1st Qu.: 82.0   1st Qu.: 502   1st Qu.: 9.00
 Mode  :character   Median :129.0   Median : 872   Median :13.00
                    Mean   :150.7   Mean   :1040   Mean   :13.18
                    3rd Qu.:192.0   3rd Qu.:1389   3rd Qu.:17.00
                    Max.   :695.0   Max.   :4983   Max.   :23.00
                    NA's   :9430
     minute        time_hour
 Min.   : 0.00   Min.   :2013-01-01 05:00:00
 1st Qu.: 8.00   1st Qu.:2013-04-04 13:00:00
 Median :29.00   Median :2013-07-03 10:00:00
 Mean   :26.23   Mean   :2013-07-03 05:22:54
 3rd Qu.:44.00   3rd Qu.:2013-10-01 07:00:00
 Max.   :59.00   Max.   :2013-12-31 23:00:00

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013  6    13  2016     1919           57          44     2210
2 2013  1    16   750      755           -5        1042     1012
3 2013  9    17  1004     1010           -6        1108     1126
4 2013  4     8  1609     1615           -6        1818     1838
5 2013 11    26   606      611           -5         916      912
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 154       UA      1259   N73270  LGA    IAH  181      1416     19   19
2  30       9E      4023   N8533D  EWR    CVG  114       569      7   55
3 -18       EV      5711   N836AS  JFK    IAD   46       228     10   10
4 -20       DL        95   N334NB  JFK    DTW   95       509     16   15
5   4       B6       601   N606JB  JFK    FLL  159      1069      6   11
  time_hour
1 2013-06-13 19:00:00
2 2013-01-16 07:00:00
3 2013-09-17 10:00:00
4 2013-04-08 16:00:00
5 2013-11-26 06:00:00

flights              package:nycflights13              R Documentation

_F_l_i_g_h_t_s _d_a_t_a

_D_e_s_c_r_i_p_t_i_o_n:

     On-time data for all flights that departed NYC (i.e. JFK, LGA or
     EWR) in 2013.

_U_s_a_g_e:

     flights

_F_o_r_m_a_t:

     Data frame with columns

     year, month, day Date of departure.

     dep_time, arr_time Actual departure and arrival times (format HHMM
          or HMM), local tz.

     sched_dep_time, sched_arr_time Scheduled departure and arrival
          times (format HHMM or HMM), local tz.

     dep_delay, arr_delay Departure and arrival delays, in minutes.
          Negative times represent early departures/arrivals.

     carrier Two letter carrier abbreviation. See ‘airlines’ to get
          name.

     flight Flight number.

     tailnum Plane tail number. See ‘planes’ for additional metadata.

     origin, dest Origin and destination. See ‘airports’ for additional
          metadata.

     air_time Amount of time spent in the air, in minutes.

     distance Distance between airports, in miles.

     hour, minute Time of scheduled departure broken into hour and
          minutes.

     time_hour Scheduled date and hour of the flight as a ‘POSIXct’
          date. Along with ‘origin’, can be used to join flights data
          to ‘weather’ data.

_S_o_u_r_c_e:

     RITA, Bureau of transportation statistics, <URL:
     https://www.transtats.bts.gov/DL_SelectFields.asp?Table_ID=236>

In [3]:
set.seed(0)

summary(airlines)
sample_n(airlines, 5)

summary(airports)
sample_n(airports, 5)
?airports

   carrier              name
 Length:16          Length:16
 Class :character   Class :character
 Mode  :character   Mode  :character

  carrier name
1 VX      Virgin America
2 HA      Hawaiian Airlines Inc.
3 B6      JetBlue Airways
4 F9      Frontier Airlines Inc.
5 9E      Endeavor Air Inc.

     faa                name                lat             lon
 Length:1458        Length:1458        Min.   :19.72   Min.   :-176.65
 Class :character   Class :character   1st Qu.:34.26   1st Qu.:-119.19
 Mode  :character   Mode  :character   Median :40.09   Median : -94.66
                                       Mean   :41.65   Mean   :-103.39
                                       3rd Qu.:45.07   3rd Qu.: -82.52
                                       Max.   :72.27   Max.   : 174.11
      alt                tz              dst               tzone
 Min.   : -54.00   Min.   :-10.000   Length:1458        Length:1458
 1st Qu.:  70.25   1st Qu.: -8.000   Class :character   Class :character
 Median : 473.00   Median : -6.000   Mode  :character   Mode  :character
 Mean   :1001.42   Mean   : -6.519
 3rd Qu.:1062.50   3rd Qu.: -5.000
 Max.   :9078.00   Max.   :  8.000

  faa name                         lat      lon        alt  tz dst
1 MTN Martin State                 39.32567  -76.41378   22 -5 A
2 FBK Ladd Aaf                     64.83750 -147.61444  454 -9 A
3 CKF Crisp County Cordele Airport 31.98883  -83.77392  310 -5 A
4 CDR Chadron Municipal Airport    42.83750 -103.09556 3297 -7 A
5 SEF Regional - Hendricks AAF     27.45639  -81.34222   63 -5 A
  tzone
1 America/New_York
2 America/Anchorage
3 America/New_York
4 America/Denver
5 America/New_York

airports             package:nycflights13              R Documentation

_A_i_r_p_o_r_t _m_e_t_a_d_a_t_a

_D_e_s_c_r_i_p_t_i_o_n:

     Useful metadata about airports.

_U_s_a_g_e:

     airports

_F_o_r_m_a_t:

     A data frame with columns:

     faa FAA airport code.

     name Usual name of the aiport.

     lat, lon Location of airport.

     alt Altitude, in feet.

     tz Timezone offset from GMT.

     dst Daylight savings time zone. A = Standard US DST: starts on the
          second Sunday of March, ends on the first Sunday of November.
          U = unknown. N = no dst.

     tzone IANA time zone, as determined by GeoNames webservice.

_S_o_u_r_c_e:

     <URL: http://openflights.org/data.html>, downloaded 2014-06-27

_E_x_a_m_p_l_e_s:

     airports

     if (require("dplyr")) {

     airports %>% rename(dest = faa) %>% semi_join(flights)
     flights %>% anti_join(airports %>% rename(dest = faa))
     airports %>% rename(origin = faa) %>% semi_join(flights)

     }

In [4]:
set.seed(0)

summary(planes)
sample_n(planes, 5)
?planes

   tailnum               year          type           manufacturer
 Length:3322        Min.   :1956   Length:3322        Length:3322
 Class :character   1st Qu.:1997   Class :character   Class :character
 Mode  :character   Median :2001   Mode  :character   Mode  :character
                    Mean   :2000
                    3rd Qu.:2005
                    Max.   :2013
                    NA's   :70
    model              engines          seats           speed
 Length:3322        Min.   :1.000   Min.   :  2.0   Min.   : 90.0
 Class :character   1st Qu.:2.000   1st Qu.:140.0   1st Qu.:107.5
 Mode  :character   Median :2.000   Median :149.0   Median :162.0
                    Mean   :1.995   Mean   :154.3   Mean   :236.8
                    3rd Qu.:2.000   3rd Qu.:182.0   3rd Qu.:432.0
                    Max.   :4.000   Max.   :450.0   Max.   :432.0
                                                    NA's   :3299
    engine
 Length:3322
 Class :character
 Mode  :character

  tailnum year type                     manufacturer   model       engines
1 N505MJ  2002 Fixed wing multi engine  BOMBARDIER INC CL-600-2C10 2
2 N376AA  1978 Fixed wing single engine PIPER          PA-32RT-300 1
3 N31131  2003 Fixed wing multi engine  EMBRAER        EMB-145XR   2
4 N693SW  1985 Fixed wing multi engine  BOEING         737-317     2
5 N37255  2000 Fixed wing multi engine  BOEING         737-824     2
  seats speed engine
1  80   NA    Turbo-fan
2   7   NA    Reciprocating
3  55   NA    Turbo-fan
4 149   NA    Turbo-jet
5 149   NA    Turbo-fan

planes              package:nycflights13               R Documentation

_P_l_a_n_e _m_e_t_a_d_a_t_a.

_D_e_s_c_r_i_p_t_i_o_n:

     Plane metadata for all plane tailnumbers found in the FAA aircraft
     registry. American Airways (AA) and Envoy Air (MQ) report fleet
     numbers rather than tail numbers so can't be matched.

_U_s_a_g_e:

     planes

_F_o_r_m_a_t:

     A data frame with columns:

     tailnum Tail number.

     year Year manufactured.

     type Type of plane.

     manufacturer, model Manufacturer and model.

     engines, seats Number of engines and seats.

     speed Average cruising speed in mph.

     engine Type of engine.

_S_o_u_r_c_e:

     FAA Aircraft registry, <URL:
     http://www.faa.gov/licenses_certificates/aircraft_certification/aircraft_registry/releasable_aircraft_download/>

_E_x_a_m_p_l_e_s:

     planes

     if (require("dplyr")) {

     # Flights that don't have plane metadata
     flights %>% anti_join(planes, "tailnum")

     }

In [5]:
set.seed(0)

summary(weather)
sample_n(weather, 5)
?weather

    origin               year          month             day
 Length:26115       Min.   :2013   Min.   : 1.000   Min.   : 1.00
 Class :character   1st Qu.:2013   1st Qu.: 4.000   1st Qu.: 8.00
 Mode  :character   Median :2013   Median : 7.000   Median :16.00
                    Mean   :2013   Mean   : 6.504   Mean   :15.68
                    3rd Qu.:2013   3rd Qu.: 9.000   3rd Qu.:23.00
                    Max.   :2013   Max.   :12.000   Max.   :31.00

      hour            temp             dewp           humid
 Min.   : 0.00   Min.   : 10.94   Min.   :-9.94   Min.   : 12.74
 1st Qu.: 6.00   1st Qu.: 39.92   1st Qu.:26.06   1st Qu.: 47.05
 Median :11.00   Median : 55.40   Median :42.08   Median : 61.79
 Mean   :11.49   Mean   : 55.26   Mean   :41.44   Mean   : 62.53
 3rd Qu.:17.00   3rd Qu.: 69.98   3rd Qu.:57.92   3rd Qu.: 78.79
 Max.   :23.00   Max.   :100.04   Max.   :78.08   Max.   :100.00
                 NA's   :1        NA's   :1       NA's   :1
    wind_dir       wind_speed         wind_gust         precip
 Min.   :  0.0   Min.   :   0.000   Min.   :16.11   Min.   :0.000000
 1st Qu.:120.0   1st Qu.:   6.905   1st Qu.:20.71   1st Qu.:0.000000
 Median :220.0   Median :  10.357   Median :24.17   Median :0.000000
 Mean   :199.8   Mean   :  10.518   Mean   :25.49   Mean   :0.004469
 3rd Qu.:290.0   3rd Qu.:  13.809   3rd Qu.:28.77   3rd Qu.:0.000000
 Max.   :360.0   Max.   :1048.361   Max.   :66.75   Max.   :1.210000
 NA's   :460     NA's   :4          NA's   :20778
    pressure          visib          time_hour
 Min.   : 983.8   Min.   : 0.000   Min.   :2013-01-01 01:00:00
 1st Qu.:1012.9   1st Qu.:10.000   1st Qu.:2013-04-01 21:30:00
 Median :1017.6   Median :10.000   Median :2013-07-01 14:00:00
 Mean   :1017.9   Mean   : 9.255   Mean   :2013-07-01 18:26:37
 3rd Qu.:1023.0   3rd Qu.:10.000   3rd Qu.:2013-09-30 13:00:00
 Max.   :1042.1   Max.   :10.000   Max.   :2013-12-30 18:00:00
 NA's   :2729

  origin year month day hour temp  dewp  humid wind_dir wind_speed wind_gust
1 LGA    2013 12    25  21   28.94 10.94 46.41 130       6.90468   NA
2 JFK    2013 12    30  10   46.94 35.06 63.13 270      16.11092   NA
3 LGA    2013 10    19   6   55.94 42.08 59.58   0       0.00000   NA
4 EWR    2013  7    19   6   82.94 75.92 79.42 240      10.35702   NA
5 JFK    2013  7     8   8   80.96 68.00 64.77 260       8.05546   NA
  precip pressure visib time_hour
1 0      1032.2   10    2013-12-25 21:00:00
2 0      1014.6   10    2013-12-30 10:00:00
3 0      1014.7   10    2013-10-19 06:00:00
4 0      1013.9    8    2013-07-19 06:00:00
5 0      1017.1   10    2013-07-08 08:00:00

weather              package:nycflights13              R Documentation

_H_o_u_r_l_y _w_e_a_t_h_e_r _d_a_t_a

_D_e_s_c_r_i_p_t_i_o_n:

     Hourly meterological data for LGA, JFK and EWR.

_U_s_a_g_e:

     weather

_F_o_r_m_a_t:

     A data frame with columns

     origin Weather station. Named ‘origin’ to facilitate merging with
          ‘flights’ data.

     year, month, day, hour Time of recording.

     temp, dewp Temperature and dewpoint in F.

     humid Relative humidity.

     wind_dir, wind_speed, wind_gust Wind direction (in degrees), speed
          and gust speed (in mph).

     precip Precipitation, in inches.

     pressure Sea level pressure in millibars.

     visib Visibility in miles.

     time_hour Date and hour of the recording as a ‘POSIXct’ date.

_S_o_u_r_c_e:

     ASOS download from Iowa Environmental Mesonet, <URL:
     https://mesonet.agron.iastate.edu/request/download.phtml>.

## 5.1.3 dplyr basics

> In this chapter you are going to learn the five key dplyr functions that allow you to solve the vast majority of your data manipulation challenges:
> - Pick observations by their values (`filter()`).
> - Reorder the rows (`arrange()`).
> - Pick variables by their names (`select()`).
> - Create new variables with functions of existing variables (`mutate()`).
> - Collapse many values down to a single summary (`summarise()`).
>
> These can all be used in conjunction with `group_by()` which changes the scope of each function from operating on the entire dataset to operating on it group-by-group. These six functions provide the verbs for a language of data manipulation.

## 5.2 Filter rows with `filter()`

In [6]:
sqrt(2)^2 == 2
1 / 49 * 49 == 1

near(sqrt(2)^2, 2)
near(1 / 49 * 49, 1)

[1] FALSE

[1] FALSE

[1] TRUE

[1] TRUE

In [7]:
l <- list(1, list(2, list(3, list(4, list(5)))))
c(l)
c(l, recursive = TRUE)

[[1]]
[1] 1

[[2]]
[[2]][[1]]
[1] 2

[[2]][[2]]
[[2]][[2]][[1]]
[1] 3

[[2]][[2]][[2]]
[[2]][[2]][[2]][[1]]
[1] 4

[[2]][[2]][[2]][[2]]
[[2]][[2]][[2]][[2]][[1]]
[1] 5

[1] 1 2 3 4 5

In [8]:
all_equal(
  filter(flights, month == 11 | month == 12),
  filter(flights, month %in% c(11, 12))
)

[1] TRUE

### 5.2.3 Missing values

> The most confusing result is this one:
> ```
> NA == NA
> #> [1] NA
> ```
>
> It’s easiest to understand why this is true with a bit more context:
> ```
> # Let x be Mary's age. We don't know how old she is.
> x <- NA
> 
> # Let y be John's age. We don't know how old he is.
> y <- NA
> 
> # Are John and Mary the same age?
> x == y
> #> [1] NA
> # We don't know!
> ```

In [9]:
NA == NA
NA != NA

[1] NA

[1] NA

### 5.2.4 Exercises

> 1. Find all flights that
>     1. Had an arrival delay of two or more hours
>     1. Flew to Houston (`IAH` or `HOU`)
>     1. Were operated by United, American, or Delta
>     1. Departed in summer (July, August, and September)
>     1. Arrived more than two hours late, but didn’t leave late
>     1. Were delayed by at least an hour, but made up over 30 minutes in flight
>     1. Departed between midnight and 6am (inclusive)
> 1. Another useful dplyr filtering helper is `between()`. What does it do? Can you use it to simplify the code needed to answer the previous challenges?
> 1. How many flights have a missing `dep_time`? What other variables are missing? What might these rows represent?
> 1. Why is `NA ^ 0` not missing? Why is `NA | TRUE` not missing? Why is `FALSE & NA` not missing? Can you figure out the general rule? (`NA * 0` is a tricky counterexample!)

In [10]:
# 1.A.
flights %>%
  filter(arr_delay >= 2 * 60) %>%
  n_distinct

[1] 10200

In [11]:
# 1.B.
flights %>%
  filter(dest %in% c("IAH", "HOU")) %>%
  n_distinct

[1] 9313

In [12]:
# 1.C.
airlines %>%
  filter(grepl("United|American|Delta", name)) %>%
  inner_join(flights, by = "carrier") %>%
  n_distinct

[1] 139504

In [13]:
# 1.D.
flights %>%
  filter(between(month, 7, 9)) %>%
  n_distinct

[1] 86326

In [14]:
# 1.E.
flights %>%
  filter(dep_delay <= 0, arr_delay > 2 * 60) %>%
  n_distinct

[1] 29

In [15]:
# 1.F.
# todo

In [16]:
# 1.G.
flights %>%
  filter(dep_time >= 0, dep_time <= 600) %>%
  n_distinct

[1] 9344

In [17]:
# 3.
flights %>% filter(is.na(dep_time)) %>% n_distinct
flights %>%
  select_if(function(var) any(is.na(var))) %>%
  tail(5)

[1] 8255

  dep_time dep_delay arr_time arr_delay tailnum air_time
1 NA       NA        NA       NA        NA      NA
2 NA       NA        NA       NA        NA      NA
3 NA       NA        NA       NA        N535MQ  NA
4 NA       NA        NA       NA        N511MQ  NA
5 NA       NA        NA       NA        N839MQ  NA

In [18]:
# 4.
NA^0
NA * 0

[1] 1

[1] NA

## 5.3 Arrange rows with `arrange()`

### 5.3.1 Exercises

1. How could you use `arrange()` to sort all missing values to the start? (Hint: use `is.na()`).
1. Sort `flights` to find the most delayed flights. Find the flights that left earliest.
1. Sort `flights` to find the fastest (highest speed) flights.
1. Which flights travelled the farthest? Which travelled the shortest?

In [19]:
# 1.
arrange(flights, desc(is.na(dep_time))) %>% head(3)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   NA       1630           NA        NA       1815
2 2013 1     1   NA       1935           NA        NA       2240
3 2013 1     1   NA       1500           NA        NA       1825
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 NA        EV      4308   N18120  EWR    RDU  NA        416     16   30
2 NA        AA       791   N3EHAA  LGA    DFW  NA       1389     19   35
3 NA        AA      1925   N3EVAA  LGA    MIA  NA       1096     15    0
  time_hour
1 2013-01-01 16:00:00
2 2013-01-01 19:00:00
3 2013-01-01 15:00:00

In [20]:
# 2.
arrange(flights, dep_delay) %>% head(3)
arrange(flights, dep_time) %>% head(3)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 12     7  2040     2123           -43         40     2352
2 2013  2     3  2022     2055           -33       2240     2338
3 2013 11    10  1408     1440           -32       1549     1559
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  48       B6        97   N592JB  JFK    DEN  265      1626     21   23
2 -58       DL      1715   N612DL  LGA    MSY  162      1183     20   55
3 -10       EV      5713   N825AS  LGA    IAD   52       229     14   40
  time_hour
1 2013-12-07 21:00:00
2 2013-02-03 20:00:00
3 2013-11-10 14:00:00

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013  1    13  1        2249            72       108      2357
2 2013  1    31  1        2100           181       124      2225
3 2013 11    13  1        2359             2       442       440
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  71       B6        22   N206JB  JFK    SYR   41       209     22   49
2 179       WN       530   N550WN  LGA    MDW  127       725     21    0
3   2       B6      1503   N627JB  JFK    SJU  194      1598     23   59
  time_hour
1 2013-01-13 22:00:00
2 2013-01-31 21:00:00
3 2013-11-13 23:00:00

In [21]:
# 3.
arrange(flights, desc(distance / air_time)) %>% head(3)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 5     25  1709     1700            9        1923     1937
2 2013 7      2  1558     1513           45        1745     1719
3 2013 5     13  2040     2025           15        2225     2226
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 -14       DL      1499   N666DN  LGA    ATL  65        762     17    0
2  26       EV      4667   N17196  EWR    MSP  93       1008     15   13
3  -1       EV      4292   N14568  EWR    GSP  55        594     20   25
  time_hour
1 2013-05-25 17:00:00
2 2013-07-02 15:00:00
3 2013-05-13 20:00:00

In [22]:
# 4. 
arrange(flights, desc(distance)) %>% head(3)
arrange(flights, distance) %>% head(3)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   857      900            -3        1516     1530
2 2013 1     2   909      900             9        1525     1530
3 2013 1     3   914      900            14        1504     1530
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 -14       HA      51     N380HA  JFK    HNL  659      4983     9    0
2  -5       HA      51     N380HA  JFK    HNL  638      4983     9    0
3 -26       HA      51     N380HA  JFK    HNL  616      4983     9    0
  time_hour
1 2013-01-01 09:00:00
2 2013-01-02 09:00:00
3 2013-01-03 09:00:00

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 7     27    NA      106           NA          NA      245
2 2013 1      3  2127     2129           -2        2222     2224
3 2013 1      4  1240     1200           40        1333     1306
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 NA        US      1632   NA      EWR    LGA  NA       17        1    6
2 -2        EV      3833   N13989  EWR    PHL  30       80       21   29
3 27        EV      4193   N14972  EWR    PHL  30       80       12    0
  time_hour
1 2013-07-27 01:00:00
2 2013-01-03 21:00:00
3 2013-01-04 12:00:00

### 5.4 Select columns with `select()`

In [23]:
select(flights, -(year:day)) %>% head(3)

  dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay carrier
1 517      515            2         830      819            11        UA
2 533      529            4         850      830            20        UA
3 542      540            2         923      850            33        AA
  flight tailnum origin dest air_time distance hour minute time_hour
1 1545   N14228  EWR    IAH  227      1400     5    15     2013-01-01 05:00:00
2 1714   N24211  LGA    IAH  227      1416     5    29     2013-01-01 05:00:00
3 1141   N619AA  JFK    MIA  160      1089     5    40     2013-01-01 05:00:00

In [24]:
rename(flights, Destination = dest, Origin = origin) %>% head(3)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515            2         830      819
2 2013 1     1   533      529            4         850      830
3 2013 1     1   542      540            2         923      850
  arr_delay carrier flight tailnum Origin Destination air_time distance hour
1 11        UA      1545   N14228  EWR    IAH         227      1400     5
2 20        UA      1714   N24211  LGA    IAH         227      1416     5
3 33        AA      1141   N619AA  JFK    MIA         160      1089     5
  minute time_hour
1 15     2013-01-01 05:00:00
2 29     2013-01-01 05:00:00
3 40     2013-01-01 05:00:00

> Another option is to use `select()` in conjunction with the `everything()` helper. This is useful if you have a handful of variables you’d like to move to the start of the data frame.

In [25]:
select(flights, matches("time|delay"), everything()) %>% head(3)

  dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay air_time
1 517      515            2         830      819            11        227
2 533      529            4         850      830            20        227
3 542      540            2         923      850            33        160
  time_hour           year month day carrier flight tailnum origin dest
1 2013-01-01 05:00:00 2013 1     1   UA      1545   N14228  EWR    IAH
2 2013-01-01 05:00:00 2013 1     1   UA      1714   N24211  LGA    IAH
3 2013-01-01 05:00:00 2013 1     1   AA      1141   N619AA  JFK    MIA
  distance hour minute
1 1400     5    15
2 1416     5    29
3 1089     5    40

### 5.4.1 Exercises

1. Brainstorm as many ways as possible to select `dep_time`, `dep_delay`, `arr_time`, and `arr_delay` from `flights`.
1. What happens if you include the name of a variable multiple times in a `select()` call?
1. What does the `one_of()` function do? Why might it be helpful in conjunction with this vector?

    ```R
    vars <- c("year", "month", "day", "dep_delay", "arr_delay")
    ```

1. Does the result of running the following code surprise you? How do the select helpers deal with case by default? How can you change that default?

    ```R
    select(flights, contains("TIME"))
    ```

In [26]:
# 1.
select(flights, matches("^(arr_|dep_)")) %>% head(3)

  dep_time dep_delay arr_time arr_delay
1 517      2         830      11
2 533      4         850      20
3 542      2         923      33

In [27]:
# 2.
select(flights, year, year) %>% head(3)

  year
1 2013
2 2013
3 2013

In [28]:
# 3.
select(flights, -one_of(c("year", "month", "day", "dep_delay", "arr_delay"))) %>% head(3)

  dep_time sched_dep_time arr_time sched_arr_time carrier flight tailnum origin
1 517      515            830      819            UA      1545   N14228  EWR
2 533      529            850      830            UA      1714   N24211  LGA
3 542      540            923      850            AA      1141   N619AA  JFK
  dest air_time distance hour minute time_hour
1 IAH  227      1400     5    15     2013-01-01 05:00:00
2 IAH  227      1416     5    29     2013-01-01 05:00:00
3 MIA  160      1089     5    40     2013-01-01 05:00:00

In [29]:
# 4.
select(flights, contains("TIME", ignore.case = FALSE))

Warning message in rbind(parts$upper, ellip_v, parts$lower, deparse.level = 0L):
“number of columns of result is not a multiple of vector length (arg 2)”

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
⋮
336747
336748
336749
336750
336751
336752
336753
336754
336755
336756
336757
336758
336759
336760
336761
336762
336763
336764
336765
336766
336767
336768
336769
336770
336771
336772
336773
336774
336775
336776

### 5.5 Add new variables with `mutate()`

In [30]:
flights_sml <- select(flights, matches("year|month|day|delay|distance|air_time"))
mutate(flights_sml, gain = dep_delay - arr_delay, speed = distance / air_time * 60) %>% head(3)

  year month day dep_delay arr_delay air_time distance gain speed
1 2013 1     1   2         11        227      1400      -9  370.0441
2 2013 1     1   4         20        227      1416     -16  374.2731
3 2013 1     1   2         33        160      1089     -31  408.3750

In [31]:
mutate(flights_sml, gain = dep_delay - arr_delay, hours = air_time / 60, gain_per_hours = gain / hours) %>% head(3)
transmute(flights_sml, gain = dep_delay - arr_delay, hours = air_time / 60, gain_per_hours = gain / hours) %>% head(3)

  year month day dep_delay arr_delay air_time distance gain hours
1 2013 1     1   2         11        227      1400      -9  3.783333
2 2013 1     1   4         20        227      1416     -16  3.783333
3 2013 1     1   2         33        160      1089     -31  2.666667
  gain_per_hours
1  -2.378855
2  -4.229075
3 -11.625000

  gain hours    gain_per_hours
1  -9  3.783333  -2.378855
2 -16  3.783333  -4.229075
3 -31  2.666667 -11.625000

### 5.5.1 Useful creation functions

> The key property is that the function must be vectorised: it must take a vector of values as input, return a vector with the same number of values as output.

> Arithmetic operators: `+`, `-`, `*`, `/`, `^`. These are all vectorised, using the so called “recycling rules”. If one parameter is shorter than the other, it will be automatically extended to be the same length.

> Modular arithmetic is a handy tool because it allows you to break integers up into pieces. For example, in the `flights` dataset, you can compute hour and minute from `dep_time` with:

In [32]:
transmute(flights, dep_time, hour = dep_time %/% 100, minute = dep_time %% 100) %>% head(3)

  dep_time hour minute
1 517      5    17
2 533      5    33
3 542      5    42

> Logs: `log()`, `log2()`, `log10()`. Logarithms are an incredibly useful transformation for dealing with data that ranges across multiple orders of magnitude. They also convert multiplicative relationships to additive, a feature we’ll come back to in modelling. All else being equal, I recommend using `log2()` because it’s easy to interpret: a difference of 1 on the log scale corresponds to doubling on the original scale and a difference of -1 corresponds to halving.

> Offsets: `lead()` and `lag()` allow you to refer to leading or lagging values. This allows you to compute running differences (e.g. `x - lag(x)`) or find when values change (`x != lag(x)`). They are most useful in conjunction with `group_by()`, which you’ll learn about shortly.

In [33]:
x <- 1:10
x
lag(x)
lead(x)

 [1]  1  2  3  4  5  6  7  8  9 10

 [1] NA  1  2  3  4  5  6  7  8  9

 [1]  2  3  4  5  6  7  8  9 10 NA

In [34]:
set.seed(0)
x <- sample(1:3, 10, replace = TRUE)
x
x - lag(x)
x != lag(x)

 [1] 2 1 3 1 2 1 3 3 2 2

 [1] NA -1  2 -2  1 -1  2  0 -1  0

 [1]    NA  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE FALSE  TRUE FALSE

> Cumulative and rolling aggregates. If you need rolling aggregates (i.e. a sum computed over a rolling window), try the RcppRoll package.

> Ranking: there are a number of ranking functions, but you should start with `min_rank()`. If `min_rank()` doesn’t do what you need, look at the variants `row_number()`, `dense_rank()`, `percent_rank()`, `cume_dist()`, `ntile()`.
>
> https://en.wikipedia.org/wiki/Ranking

In [35]:
y <- c(1, 2, 2, NA, 3, 4)
y
min_rank(y)
min_rank(desc(y))
row_number(y)
dense_rank(y)
percent_rank(y)
cume_dist(y)
ntile(y,3)

[1]  1  2  2 NA  3  4

[1]  1  2  2 NA  4  5

[1]  5  3  3 NA  2  1

[1]  1  2  3 NA  4  5

[1]  1  2  2 NA  3  4

[1] 0.00 0.25 0.25   NA 0.75 1.00

[1] 0.2 0.6 0.6  NA 0.8 1.0

[1]  1  1  2 NA  2  3

### 5.5.2 Exercises

1. Currently `dep_time` and `sched_dep_time` are convenient to look at, but hard to compute with because they’re not really continuous numbers. Convert them to a more convenient representation of number of minutes since midnight.
1. Compare `air_time` with `arr_time - dep_time`. What do you expect to see? What do you see? What do you need to do to fix it?
1. Compare `dep_time`, `sched_dep_time`, and `dep_delay`. How would you expect those three numbers to be related?
1. Find the 10 most delayed flights using a ranking function. How do you want to handle ties? Carefully read the documentation for `min_rank()`.
1. What does `1:3 + 1:10` return? Why?
1. What trigonometric functions does R provide?

In [36]:
# 1.
select(flights, contains("dep_time")) %>% head(3)
select(flights, contains("dep_time")) %>%
  mutate_all(function(var) var %/% 100 * 60 + var %% 100) %>%
  head(3)

  dep_time sched_dep_time
1 517      515
2 533      529
3 542      540

  dep_time sched_dep_time
1 317      315
2 333      329
3 342      340

In [37]:
# 2.
flights %>%
  transmute(air_time, dep_time, arr_time, arr_time - dep_time, air_time - (arr_time - dep_time)) %>%
  head(5)
flights %>%
  mutate_at(vars(contains("_time"), -air_time), function(var) var %/% 100 * 60 + var %% 100) %>%
  transmute(air_time, dep_time, arr_time, arr_time - dep_time, air_time - (arr_time - dep_time)) %>%
  head(5)

  air_time dep_time arr_time arr_time - dep_time
1 227      517       830     313
2 227      533       850     317
3 160      542       923     381
4 183      544      1004     460
5 116      554       812     258
  air_time - (arr_time - dep_time)
1  -86
2  -90
3 -221
4 -277
5 -142

  air_time dep_time arr_time arr_time - dep_time
1 227      317      510      193
2 227      333      530      197
3 160      342      563      221
4 183      344      604      260
5 116      354      492      138
  air_time - (arr_time - dep_time)
1  34
2  30
3 -61
4 -77
5 -22

In [38]:
# 3.
transmute(flights, dep_time, sched_dep_time, dep_delay, dep_time - (sched_dep_time + dep_delay)) %>% head(5)

  dep_time sched_dep_time dep_delay dep_time - (sched_dep_time + dep_delay)
1 517      515             2          0
2 533      529             4          0
3 542      540             2          0
4 544      545            -1          0
5 554      600            -6        -40