# Chapter 13. Hierarchical Queries

In [1]:
%load_ext lab_black
%load_ext sql
%sql postgresql://sql-cookbook:sql-cookbook@0.0.0.0:5432/sql-cookbook

## 13.1 Expressing a Parent-Child Relationship

In [2]:
%%sql
select format('%s works for %s', emp.ename, mgr.ename)
from emp join emp mgr on emp.mgr = mgr.empno
order by mgr.empno, emp.empno desc;

 * postgresql://sql-cookbook:***@0.0.0.0:5432/sql-cookbook
13 rows affected.

[('FORD works for JONES',),
 ('SCOTT works for JONES',),
 ('JAMES works for BLAKE',),
 ('TURNER works for BLAKE',),
 ('MARTIN works for BLAKE',),
 ('WARD works for BLAKE',),
 ('ALLEN works for BLAKE',),
 ('MILLER works for CLARK',),
 ('ADAMS works for SCOTT',),
 ('CLARK works for KING',),
 ('BLAKE works for KING',),
 ('JONES works for KING',),
 ('SMITH works for FORD',)]

## 13.2 Expressing a Child-Parent-Grandparent Relationship

In [3]:
%%sql
with recursive cypher (length, path, works_for) as (
    select 0, format('(:%s)', ename), mgr
    from emp
    union
    select length + 1,
           format('%s-[\:WORKS_FOR]->(:%s)', cypher.path, ename),
           mgr
    from emp join cypher on cypher.works_for = empno
)
select length, path
from cypher
where length > 0
order by length, path;

 * postgresql://sql-cookbook:***@0.0.0.0:5432/sql-cookbook
25 rows affected.

[(1, '(:ADAMS)-[:WORKS_FOR]->(:SCOTT)'),
 (1, '(:ALLEN)-[:WORKS_FOR]->(:BLAKE)'),
 (1, '(:BLAKE)-[:WORKS_FOR]->(:KING)'),
 (1, '(:CLARK)-[:WORKS_FOR]->(:KING)'),
 (1, '(:FORD)-[:WORKS_FOR]->(:JONES)'),
 (1, '(:JAMES)-[:WORKS_FOR]->(:BLAKE)'),
 (1, '(:JONES)-[:WORKS_FOR]->(:KING)'),
 (1, '(:MARTIN)-[:WORKS_FOR]->(:BLAKE)'),
 (1, '(:MILLER)-[:WORKS_FOR]->(:CLARK)'),
 (1, '(:SCOTT)-[:WORKS_FOR]->(:JONES)'),
 (1, '(:SMITH)-[:WORKS_FOR]->(:FORD)'),
 (1, '(:TURNER)-[:WORKS_FOR]->(:BLAKE)'),
 (1, '(:WARD)-[:WORKS_FOR]->(:BLAKE)'),
 (2, '(:ADAMS)-[:WORKS_FOR]->(:SCOTT)-[:WORKS_FOR]->(:JONES)'),
 (2, '(:ALLEN)-[:WORKS_FOR]->(:BLAKE)-[:WORKS_FOR]->(:KING)'),
 (2, '(:FORD)-[:WORKS_FOR]->(:JONES)-[:WORKS_FOR]->(:KING)'),
 (2, '(:JAMES)-[:WORKS_FOR]->(:BLAKE)-[:WORKS_FOR]->(:KING)'),
 (2, '(:MARTIN)-[:WORKS_FOR]->(:BLAKE)-[:WORKS_FOR]->(:KING)'),
 (2, '(:MILLER)-[:WORKS_FOR]->(:CLARK)-[:WORKS_FOR]->(:KING)'),
 (2, '(:SCOTT)-[:WORKS_FOR]->(:JONES)-[:WORKS_FOR]->(:KING)'),
 (2, '(:SMITH)-[:WORKS_FOR]->(:FORD)-[:WORKS_FOR]->(:JONES)'),
 (2, '(:TURNER)-[:WORKS_FOR]->(:BLAKE)-[:WORKS_FOR]->(:KING)'),
 (2, '(:WARD)-[:WORKS_FOR]->(:BLAKE)-[:WORKS_FOR]->(:KING)'),
 (3, '(:ADAMS)-[:WORKS_FOR]->(:SCOTT)-[:WORKS_FOR]->(:JONES)-[:WORKS_FOR]->(:KING)'),
 (3, '(:SMITH)-[:WORKS_FOR]->(:FORD)-[:WORKS_FOR]->(:JONES)-[:WORKS_FOR]->(:KING)')]

## 13.3 Creating a Hierarchical View of a Table

In [4]:
%%sql
with recursive cypher(length, path, boss) as (
    select 0, format('(:%s)', ename), empno
    from emp
    where mgr is null
    union
    select length + 1,
           format('%s-[\:BOSS_OF]->(:%s)', path, ename),
           empno
    from cypher join emp on cypher.boss = emp.mgr
)
select length, path
from cypher
order by length, path;

 * postgresql://sql-cookbook:***@0.0.0.0:5432/sql-cookbook
14 rows affected.

[(0, '(:KING)'),
 (1, '(:KING)-[:BOSS_OF]->(:BLAKE)'),
 (1, '(:KING)-[:BOSS_OF]->(:CLARK)'),
 (1, '(:KING)-[:BOSS_OF]->(:JONES)'),
 (2, '(:KING)-[:BOSS_OF]->(:BLAKE)-[:BOSS_OF]->(:ALLEN)'),
 (2, '(:KING)-[:BOSS_OF]->(:BLAKE)-[:BOSS_OF]->(:JAMES)'),
 (2, '(:KING)-[:BOSS_OF]->(:BLAKE)-[:BOSS_OF]->(:MARTIN)'),
 (2, '(:KING)-[:BOSS_OF]->(:BLAKE)-[:BOSS_OF]->(:TURNER)'),
 (2, '(:KING)-[:BOSS_OF]->(:BLAKE)-[:BOSS_OF]->(:WARD)'),
 (2, '(:KING)-[:BOSS_OF]->(:CLARK)-[:BOSS_OF]->(:MILLER)'),
 (2, '(:KING)-[:BOSS_OF]->(:JONES)-[:BOSS_OF]->(:FORD)'),
 (2, '(:KING)-[:BOSS_OF]->(:JONES)-[:BOSS_OF]->(:SCOTT)'),
 (3, '(:KING)-[:BOSS_OF]->(:JONES)-[:BOSS_OF]->(:FORD)-[:BOSS_OF]->(:SMITH)'),
 (3, '(:KING)-[:BOSS_OF]->(:JONES)-[:BOSS_OF]->(:SCOTT)-[:BOSS_OF]->(:ADAMS)')]

## 13.4 Finding All Child Rows for a Given Parent Row

In [5]:
%%sql
with recursive descendents(ename, empno) as (
    select ename, empno
    from emp
    where ename ~ '(?i)jones'
    union
    select emp.ename, emp.empno
    from descendents join emp on mgr = descendents.empno
)
select ename
from descendents;

 * postgresql://sql-cookbook:***@0.0.0.0:5432/sql-cookbook
5 rows affected.

[('JONES',), ('SCOTT',), ('FORD',), ('SMITH',), ('ADAMS',)]

## 13.5 Determining Which Rows Are Leaf, Branch, or Root Nodes

In [6]:
%%sql
select ename,
       (not exists(
               select 1
               from emp _
               where _.mgr = emp.empno))::int as is_leaf,
       (mgr is not null and exists(
               select 1
               from emp _
               where _.mgr = emp.empno))::int as is_branch,
       (mgr is null)::int                     as is_root
from emp
order by is_leaf, is_branch, is_root, ename;

 * postgresql://sql-cookbook:***@0.0.0.0:5432/sql-cookbook
14 rows affected.

[('KING', 0, 0, 1),
 ('BLAKE', 0, 1, 0),
 ('CLARK', 0, 1, 0),
 ('FORD', 0, 1, 0),
 ('JONES', 0, 1, 0),
 ('SCOTT', 0, 1, 0),
 ('ADAMS', 1, 0, 0),
 ('ALLEN', 1, 0, 0),
 ('JAMES', 1, 0, 0),
 ('MARTIN', 1, 0, 0),
 ('MILLER', 1, 0, 0),
 ('SMITH', 1, 0, 0),
 ('TURNER', 1, 0, 0),
 ('WARD', 1, 0, 0)]