# Chapter 5. Metadata Queries

In [1]:
%load_ext lab_black
%load_ext sql
%sql postgresql://sql-cookbook:sql-cookbook@0.0.0.0:5432/sql-cookbook

## 5.1 Listing Tables in a Schema

In [2]:
%%sql
select table_name
from information_schema.tables
where table_schema = 'public';

 * postgresql://sql-cookbook:***@0.0.0.0:5432/sql-cookbook
6 rows affected.

[('emp',), ('dept',), ('t1',), ('t10',), ('t100',), ('t500',)]

## 5.2 Listing a Tableâ€™s Columns

In [3]:
%%sql
select column_name, data_type, ordinal_position
from information_schema.columns
where table_schema = 'public'
  and table_name = 'emp';

 * postgresql://sql-cookbook:***@0.0.0.0:5432/sql-cookbook
8 rows affected.

[('empno', 'integer', 1),
 ('ename', 'text', 2),
 ('job', 'text', 3),
 ('mgr', 'integer', 4),
 ('hiredate', 'date', 5),
 ('sal', 'integer', 6),
 ('comm', 'integer', 7),
 ('deptno', 'integer', 8)]

## 5.3 Listing Indexed Columns for a Table

In [4]:
%%sql
create unique index if not exists unique_emp_empno on emp (empno);

 * postgresql://sql-cookbook:***@0.0.0.0:5432/sql-cookbook
Done.

[]

In [5]:
%%sql
select tablename, indexname, column_name
from pg_catalog.pg_indexes,
     information_schema.columns
where tablename = table_name
  and table_name = 'emp'
  and column_name in (
    select (regexp_matches(indexdef, '\((.+)\)'))[1] as column_name
    from pg_catalog.pg_indexes
    where tablename = 'emp'
);

 * postgresql://sql-cookbook:***@0.0.0.0:5432/sql-cookbook
1 rows affected.

[('emp', 'unique_emp_empno', 'empno')]

## 5.4 Listing Constraints on a Table
## 5.5 Listing Foreign Keys Without Corresponding Indexes
## 5.6 Using SQL to Generate SQL
## 5.7 Describing the Data Dictionary Views in an Oracle Database